@font-face {
    font-family: RighteousRegular;
    src: url(../fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: SpartanRegular;
    src: url(../fonts/Spartan-Regular.ttf);
}
@font-face {
    font-family: SpartanBold;
    src: url(../fonts/Spartan-Bold.ttf);
}
:root {
    --black: #000000;
    --white: #FFFFFF;
    --f8f9fa: #f8f9fa;
    --212529: #212529;
    --3d5a80: #3d5a80;
    --003566: #003566;
    --407ba7: #407ba7;
    --004e89: #004e89;
    --1a659e: #1a659e;
    --e63946: #e63946;
    --343a40: #343a40;
    --1d1d1d: #1d1d1d;
    --2d3237: #2d3237;
    --2c3136: #2c3136;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--1d1d1d);
}
::-webkit-scrollbar-thumb {
    transition: .3s;
    background: var(--3d5a80);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--1a659e);
}
html, body {
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: var(--white);
}
.root-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.root-container > .country-container {
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: scroll;
    background-color: var(--212529);
}
.country-container > .title {
    font-family: SpartanBold, serif;
    font-size: 1.2em;
    color: var(--white);
    margin-top: 1.5em;
}
.country-container > .description {
    font-family: SpartanRegular, serif;
    font-size: 0.75em;
    color: var(--white);
    line-height: 2.2em;
}
a {
    font-family: SpartanBold, serif;
    font-size: 1em;
    color: var(--407ba7);
    text-decoration: none;
    transition: .3s;
}
a:hover {
    color: var(--004e89);
    transition: .3s;
}
.time-period-label {
    font-family: SpartanBold, serif;
    font-size: 0.75em;
    color: var(--white);
}
.time-period {
    font-family: SpartanBold, serif;
    font-size: 0.75em;
    color: var(--407ba7);
}
.total-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    border-radius: 0.5em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    margin-top: 1em;
    border: 0.5px solid var(--2c3136);
    background-color: var(--1d1d1d);
}
.total-container > .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.total-container > .statistics > .count {
    font-family: SpartanBold, serif;
    font-size: 0.75em;
    color: #dee2e6;
    margin-top: 0.5em;
}
.total-container > .statistics > .label {
    font-family: SpartanBold, serif;
    font-size: 0.65em;
    color: var(--407ba7);
    margin-top: 1em;
}
.country-container > .divider {
    width: 100%;
    height: 0.5px;
    margin-top: 0.5em;
    z-index: 999;
    background-color: var(--2c3136);
}
.country-container > .search-container {
    display: flex;
    align-items: center;
    border: 0.5px solid var(--343a40);
    border-radius: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    background-color: var(--2d3237);
}
.country-container > .search-container > .material-icons {
    font-size: 1.1rem;
    /*font-weight: bold;*/
    color: var(--white);
    margin-left: 1em;
}
.country-container > .search-container > label > .search {
    width: 19vw;
    height: 2em;
    font-family: SpartanBold, serif;
    font-size: 0.8em;
    color: var(--white);
    text-indent: 0.8em;
    outline: none;
    border: none;
    background-color: transparent;
}
.country-list-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    border: 0.5px solid var(--2c3136);
    background-color: var(--1d1d1d);
    transition: .3s;
}
.country-list-container:hover {
    cursor: pointer;
    background-color: var(--343a40);
}
.country-list-container > .country {
    width: 10em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    /*background-color: #1a659e;*/
}
.country-list-container > .country > img {
    width: 2em;
}
.country-list-container > .country > span {
    font-family: SpartanBold, serif;
    font-size: 0.7em;
    color: #dee2e6;
    margin-top: 1em;
}
.country-list-container > .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}
.country-list-container > .statistics > .count {
    font-family: SpartanBold, serif;
    font-size: 0.65em;
    color: #dee2e6;
    margin-top: 0.5em;
}
.country-list-container > .statistics > .label {
    font-family: SpartanBold, serif;
    font-size: 0.55em;
    color: var(--407ba7);
    margin-top: 1em;
}
.root-container > #map {
    width: 100%;
}