@font-face {
    font-family: RighteousRegular;
    src: url(../fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: SpartanRegular;
    src: url(../fonts/Spartan-Regular.ttf);
}
@font-face {
    font-family: SpartanBold;
    src: url(../fonts/Spartan-Bold.ttf);
}
:root {
    --black: #000000;
    --white: #FFFFFF;
    --f8f9fa: #f8f9fa;
    --212529: #212529;
    --3d5a80: #3d5a80;
    --003566: #003566;
    --407ba7: #407ba7;
    --004e89: #004e89;
    --1a659e: #1a659e;
    --e63946: #e63946;
    --343a40: #343a40;
    --1d1d1d: #1d1d1d;
    --2d3237: #2d3237;
    --2c3136: #2c3136;
    --dimgray: dimgray;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--1d1d1d);
}
::-webkit-scrollbar-thumb {
    transition: .3s;
    background: var(--3d5a80);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--1a659e);
}
.map-popup-container {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    border: 0.5px solid #2c3136;
}
.map-popup-container > .flag-container {
    width: 17em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-popup-container > .flag-container > img {
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
}
.map-country-container {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-country-container > .country {
    font-size: 1.1rem;
    color: #FFFFFF;
    margin-left: 0.5em;
}
.map-container-divider {
    height: 1px;
    background-color: #2c3136;
}
.map-statistics-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 0.5em;
}
.map-statistics-container > .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.map-statistics-container > .statistics > .cases {
    font-size: 0.7rem;
    color: #FFFFFF;
}
.map-statistics-container > .statistics > .label {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: bold;
    color: #407ba7;
}
html, body {
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: var(--white);
}
.root-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.country-container {
    width: 28em;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom:0;
    z-index: 2;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: scroll !important;
    background-color: var(--212529);
}
.country-container > .title {
    font-family: SpartanBold, serif;
    font-size: 1.2em;
    color: var(--white);
    margin-top: 1.5em;
}
.country-container > .description {
    font-family: SpartanRegular, serif;
    font-size: 0.75em;
    color: var(--white);
    line-height: 2.2em;
}
a {
    font-family: SpartanBold, serif;
    font-size: 1em;
    color: var(--407ba7);
    text-decoration: none;
    transition: .3s;
}
a:hover {
    color: var(--004e89);
    transition: .3s;
}
.timeline {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}
.timeline > .label {
    font-family: SpartanBold, serif;
    font-size: 0.85em;
    color: var(--white);
}
.timeline > select {
    -webkit-appearance: none;
    appearance: none;
    color: var(--dimgray);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    margin-left: 1em;
    border-radius: 0.5em;
    border: 0.5px solid var(--2c3136);
    background-color: var(--1d1d1d);
    background-image: linear-gradient(var(--407ba7), var(--407ba7)),
      linear-gradient(-135deg, transparent 50%, var(--407ba7) 50%),
      linear-gradient(-225deg, transparent 50%, var(--407ba7) 50%),
      linear-gradient(var(--407ba7) 42%, var(--1d1d1d) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}
.total-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    border-radius: 0.5em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    margin-top: 1em;
    border: 0.5px solid var(--2c3136);
    background-color: var(--1d1d1d);
}
.total-container > .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.total-container > .statistics > .count {
    font-family: SpartanBold, serif;
    font-size: 0.75em;
    color: #dee2e6;
    margin-top: 0.5em;
}
.total-container > .statistics > .label {
    font-family: SpartanBold, serif;
    font-size: 0.65em;
    color: var(--407ba7);
    margin-top: 1em;
}
.country-container > .divider {
    width: 100%;
    height: 0.5px;
    margin-top: 0.5em;
    z-index: 999;
    background-color: var(--2c3136);
}
.nrf-container {
    height: 15em;
    display: none;
    align-items: center;
    justify-content: center;
}
.nrf-container > span {
    font-family: SpartanBold, serif;
    font-size: 0.9rem;
    color: var(--3d5a80);
}
.country-container > .search-container {
    display: flex;
    align-items: center;
    border: 0.5px solid var(--343a40);
    border-radius: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    background-color: var(--2d3237);
}
.country-container > .search-container > .material-icons {
    font-size: 1.1rem;
    /*font-weight: bold;*/
    color: var(--white);
    margin-left: 1em;
}
.country-container > .search-container > label > .search {
    width: 25em;
    height: 2em;
    font-family: SpartanBold, serif;
    font-size: 0.8em;
    color: var(--white);
    text-indent: 0.8em;
    outline: none;
    border: none;
    background-color: transparent;
}
.country-list-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    border: 0.5px solid var(--2c3136);
    background-color: var(--1d1d1d);
    transition: .3s;
}
.country-list-container:hover {
    cursor: pointer;
    background-color: var(--343a40);
}
.country-list-container > .country {
    width: 10em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    /*background-color: #1a659e;*/
}
.country-list-container > .country > img {
    width: 2em;
}
.country-list-container > .country > span {
    font-family: SpartanBold, serif;
    font-size: 0.7em;
    color: #dee2e6;
    margin-top: 1em;
}
.country-list-container > .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}
.country-list-container > .statistics > .count {
    font-family: SpartanBold, serif;
    font-size: 0.65em;
    color: #dee2e6;
    margin-top: 0.5em;
}
.country-list-container > .statistics > .label {
    font-family: SpartanBold, serif;
    font-size: 0.55em;
    color: var(--407ba7);
    margin-top: 1em;
}
#map {
    width: 100%;
    margin-left: 40em;
}
.mobile-nav-container {
    display: none;
}
@media only screen and (max-width: 950px) {
    .country-container {
        width: 95vw;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 2em;
    }
    .country-list-container > .country {
        width: 5em;
    }
    #map {
        margin-left: 0;
    }
    .mobile-nav-container {
        width: 100vw;
        height: 7.5vh;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        position: fixed;
        bottom: 0;
        z-index: 999;
        border-top: 1px solid var(--2c3136);
        background-color: var(--1d1d1d);
    }
    .mobile-nav-container > .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .mobile-nav-container > .menu > .material-icons {
        color: #5f6673;!important;
    }
    .mobile-nav-container > .menu > .menu-label {
        font-family: SpartanRegular, serif;
        font-size: 0.6em;
        color: #5f6673;
        margin: 0.5em;
    }
}