{% extends 'header_layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="root-container">
        <div class="country-container">
            <p class="title">Coronavirus (COVID-19) Tracker</p>
            <p class="description">
                Coronavirus (COVID-19) is an infectious disease caused by respiratory illness and symptoms like flu,
                cough, fever, difficulty breathing. And on <b>December 31, 2019</b>, the first case was recorded in
                Wuhan, China and later virus got spread around the globe, now almost <b>1,846,680</b> confirmed cases
                reported since then.
            </p>
            <p class="description">
                To get up to date results this website collects the data from
                <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Johns Hopkins University Center for
                Systems Science and Engineering (JHU CSSE).</a>
            </p>
            <p class="time-period-label">Last Updated:</p>
            <span class="time-period">12 APR 2020</span>
            <div class="total-container">
                <div class="statistics">
                    <span class="count">1,846,680</span>
                    <span class="label">CONFIRMED</span>
                </div>
                <div class="statistics">
                    <span class="count">114,090</span>
                    <span class="label">DEATHS</span>
                </div>
                <div class="statistics">
                    <span class="count">421,722</span>
                    <span class="label">RECOVERED</span>
                </div>
            </div>
            <div class="search-container">
                <span class="material-icons">search</span>
                <label>
                    <input type="text" class="search" id="input" placeholder="Search country">
                </label>
            </div>
            <div class="statistics-container"></div>
            <br/>
        </div>
        <div id="map"></div>
        <script>
            let statisticsContainer = document.querySelector(".statistics-container");
            let searchInput = document.getElementById("input");
            searchInput.addEventListener('input', filter_autoComplete);

            let statistics = {{ statistics|safe }};

            list_country();
            function list_country() {
                statistics.forEach(data => {
                    add_country(data);
                });
            }

            function filter_autoComplete({target}) {
              statisticsContainer.innerHTML = ``;

              let data = target.value;
              if (data.length) {
                let filteredValues = autoComplete(data);
                filteredValues.forEach(value => {
                    add_country(value);
                });
              } else {
                list_country();
              }
            }

            function autoComplete(value) {
                return statistics.filter(data =>
                    data.name.toLowerCase().includes(value.toLowerCase())
                )
            }

            function add_country(data) {
                let countryListContainer = document.createElement("div");
                countryListContainer.setAttribute("class", "country-list-container");

                let country = document.createElement("div");
                country.setAttribute("class", "country");

                let flag = document.createElement("img");
                flag.setAttribute("class", "flag");
                flag.src = data.flag;

                let countryName = document.createElement("span");
                countryName.setAttribute("class", "country name");
                countryName.innerText = data.name;

                country.append(flag);
                country.append(countryName);

                // Confirmed Statistics
                let confirmedStatistics = document.createElement("div");
                confirmedStatistics.setAttribute("class", "statistics");

                let confirmedCount = document.createElement("span");
                confirmedCount.setAttribute("class", "count");
                confirmedCount.innerText = data.statistics[0].confirmed;

                let confirmedLabel = document.createElement("span");
                confirmedLabel.setAttribute("class", "label");
                confirmedLabel.innerText = "CONFIRMED";

                confirmedStatistics.append(confirmedCount);
                confirmedStatistics.append(confirmedLabel);

                // Deaths Statistics
                let deathsStatistics = document.createElement("div");
                deathsStatistics.setAttribute("class", "statistics");

                let deathsCount = document.createElement("span");
                deathsCount.setAttribute("class", "count");
                deathsCount.innerText = data.statistics[0].deaths;

                let deathsLabel = document.createElement("span");
                deathsLabel.setAttribute("class", "label");
                deathsLabel.innerText = "DEATHS";

                deathsStatistics.append(deathsCount);
                deathsStatistics.append(deathsLabel);

                // Recovered Statistics
                let recoveredStatistics = document.createElement("div");
                recoveredStatistics.setAttribute("class", "statistics");

                let recoveredCount = document.createElement("span");
                recoveredCount.setAttribute("class", "count");
                recoveredCount.innerText = data.statistics[0].recovered;

                let recoveredLabel = document.createElement("span");
                recoveredLabel.setAttribute("class", "label");
                recoveredLabel.innerText = "RECOVERED";

                recoveredStatistics.append(recoveredCount);
                recoveredStatistics.append(recoveredLabel);

                countryListContainer.append(country);
                countryListContainer.append(confirmedStatistics);
                countryListContainer.append(deathsStatistics);
                countryListContainer.append(recoveredStatistics);

                statisticsContainer.append(countryListContainer);
            }
        </script>
        <script src="{% static 'js/map.js' %}"></script>
    </div>
{% endblock %}