{% extends 'header_layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="root-container">
        <div class="country-container">
            <p class="title">Coronavirus (COVID-19) Tracker</p>
            <p class="description">
                Coronavirus (COVID-19) is an infectious disease caused by respiratory illness and symptoms like flu,
                cough, fever, difficulty breathing. And on <b>December 31, 2019</b>, the first case was recorded in
                Wuhan, China and later virus got spread around the globe, now almost <b id="header-total-confirmed">0</b> confirmed cases
                reported since then.
            </p>
            <p class="description">
                To get up to date results this website collects the data from
                <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Johns Hopkins University Center for
                Systems Science and Engineering (JHU CSSE).</a>
            </p>
            <div class="timeline">
                <span class="label">Timeline: </span>
                <select id="date-selector">
                    {% for date in all_dates %}
                        <option>{{ date }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="total-container">
                <div class="statistics">
                    <span class="count" id="total-confirmed">0</span>
                    <span class="label">CONFIRMED</span>
                </div>
                <div class="statistics">
                    <span class="count" id="total-deaths">0</span>
                    <span class="label">DEATHS</span>
                </div>
                <div class="statistics">
                    <span class="count" id="total-recovered">0</span>
                    <span class="label">RECOVERED</span>
                </div>
            </div>
            <div class="search-container">
                <span class="material-icons">search</span>
                <label>
                    <input type="text" class="search" id="input" placeholder="Search country">
                </label>
            </div>
            <div class="statistics-container"></div>
            <br/>
        </div>
        <div id="map"></div>
        <script>
            let totalCases = {{ total_cases|safe }};
            let statistics = {{ statistics|safe }};
            const MAP_ID = 'covidStatistics'

            mapboxgl.accessToken = 'pk.eyJ1IjoiaGFja2JvdG9uZSIsImEiOiJjanVvdHVkdWUzNmt1NDNwZ24zdGV5Nzl1In0.81ERUqNnNquLDLCB4IRLnA';
            const map = (window.map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v10',
                center: [-73.93324, 40.80877],
                zoom: 2
            }));
            const popup = new mapboxgl.Popup({
                closeButton: false,
                closeOnClick: false
            });
        </script>
        <script src="{% static 'js/statistics.js' %}"></script>
        <script src="{% static 'js/map.js' %}"></script>
        <script>
            let graphqlQuery = {{ graphql_query|safe }};
            let dateSelector = document.getElementById("date-selector");
            dateSelector.addEventListener("change", function() {
                let query = JSON.stringify(graphqlQuery);
                let date = query.match(/\d{2}([\/.-])\d{2}\1\d{4}/g);
                query = query.replaceAll(date[0], dateSelector.value);
                fetch('/graphql', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: query
                }).then(res => res.json())
                  .then(res => {
                      renderStatistics(res.data.totalCases.edges[0].node, res.data.countryStatistics);
                      loadMap();
                }).catch(err => {
                   console.log(err)
                })
            });
        </script>
    </div>
{% endblock %}