{% extends 'header_layout.html' %}
{% load static %}

{% block content %}
    <div class="maintenance-container">
        <span class="title">WE ARE UNDER</span>
        <span class="maintenance">MAINTENANCE</span>
        <span class="message">COVID-19 Tracker website is currently down for maintenance. We should be back shortly. Thank you for your patience.</span>
    </div>
    <div class="footer">
        <span class="copyrights">© 2022 COVID-19 Tracker. ALL RIGHTS RESERVED.</span>
    </div>
    <script>
        let totalCases = `{{ total_cases }}`
        console.log(totalCases);
    </script>
{% endblock %}